* {
    padding: 0px;
    margin: 0px;
}

body {
    background-image: url(../images/backgroundLp.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    color: #fff;
    font-weight: 300;
}

.container1 {
    background-color: $background-color;
    width: 450px;
    height: auto;
}

.topLogo {
    width: 186px;
}

.paragraph {
    margin: 7px 0px;
    font-weight: 500;
}

.btnSend {
    color: $button-color;
    border: 1px solid $button-color;

    &:hover {
        background-color: $button-color;
        color: #fff;
    }
}

.footer {
    margin-top: 30px;
    margin-bottom: -30px;
}

.gitLink {
    color: #fff;
    text-decoration: none;
    transition: 0.3s linear;
    font-weight: 500;

    &:hover {
        color: #ff0043;
    }
}

//Media queries
@media(width-max: 525px) {
    .container1 {
        width: auto;
    }
}